.displayFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageDiv {
    background-color: #0B2434;
    height: 100vh;
    width: 100%;

    padding: 20px;
}

.gameElement {
    background-color: #F5F5F5;
    height: 90vh;
    width: 90vh;

    border-radius: 10px;
}

.diceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 50px;
}

.dieElement {
    background-color: #FFFFFF;
    width: 9vh;
    height: 9vh;

    font-weight: bold;
    font-size: 2.5rem;

    border-radius: 5px;

    box-shadow: 0px 5px 2px 0px  #00000015;
}