.displayFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageDiv {
    background-color: #0B2434;
    height: 100vh;
    width: 100%;

    padding: 20px;
}

.gameElement {
    background-color: #F5F5F5;
    height: 90vh;
    width: 90vh;

    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.gameTitle {
    font-size: 3rem;
    margin: 0;
}

.instructionsParagraph {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;

    font-size: 1.25rem;
}

.diceContainer {
    display: grid;
    /* Sets two rows that are automatically determined and then the columns are each 1 fractional unit, and this is repeated 5 times using the repeat function*/
    grid-template: auto auto / repeat(5, 1fr);

    gap: 50px;
}

.dieElement {
    background-color: #FFFFFF;
    width: 9vh;
    height: 9vh;

    font-weight: bold;
    font-size: 2.5rem;

    border-radius: 5px;

    box-shadow: 0px 2px 2px #00000015;
    cursor: pointer;
}

.reRollButton {
    margin-top: 50px;
    height: 9vh;
    width: 18vh;

    font-size: 2.5rem;

    background-color: #5035FF;
    color: #FFFFFF;
    border-radius: 10px;

    cursor: pointer;
}

.reRollButton:focus { 
    outline: none;
}

.reRollButton:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}